/* Reset Start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset End */

* {
    background-color: #e3e1df;
}

header {
    background-color: #808080;
    color: #ffffff;
    margin: 0 12%;
    padding: 25px;
    font-family: Play;
    padding-bottom: 15px;
    border-bottom: ridge;
    border-width: 6px;
    border-color: #292828;
    display: flex;
}

h1 {
    font-family: Montserrat Subrayada;
    background-color: #808080;
    font-size: 45px;
    margin: 5px;
}

header nav {
    background-color: #808080;
    margin-left: 25%;
    margin-top: 10px;
}

header nav a {
    background-color: #994192;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    border: solid;
    border-width: 1px;
    border-color: #000000;  
    float: left;
    padding: 7px;
}

header nav a:hover{
    opacity: 0.25;
}

#title{
    text-align: center;
    margin: 0 12%;
    font-family: Play;
}

#title h2{
    background-color: #292828;
    color: #d982c2;
    font-size: 40px;
}

#title p{
    background-color: #292828;
    color: #ffffff;
    font-size: 30px;
}

section {
    background-color: #292828;
    font-family: Play;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: ridge;
    border-width: 9px;
    border-color: #292828;
}

#gal1{
    margin: 0 12%;
    background-color: #292828;
    display: flex;
    flex-wrap: wrap-reverse;
}

.gallery1 {
    margin: 15px;
 }
  
div.gallery1 img {
    width: 100%;
    height: auto;
}

div.gallery1 a{
    background-color: #292828;
}

div.gallery1 a:hover{
    opacity: 0.25;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #292828;
}

footer {
    margin: 0 12%;
    background-color: #808080;
    padding: 3%;
    padding-bottom: 15px;
    text-align: center;
}

footer p{
    text-align: center;
    background-color: #808080;
    font-family: Play;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
}

footer .contact{
    background-color: #994192;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    border: solid;
    border-width: 2px;
    border-color: #000000;  
    padding: 7px;
}

footer .contact:hover{
    opacity: 0.25;
}

footer nav{
    background-color: #808080;
    display: flex;
    flex-direction: row-reverse;
}

footer nav a{
    background-color: #808080;
}

footer nav a img{
    width: 30px;
    height: auto;
    margin-top: 40px;
    margin-left: 10px;
}

footer nav a:hover{
    opacity: 0.25;
}